extends layout

mixin startList(convo)
	ul
		+list(convo)

mixin list(convo)
	li <span class="comment-name">#{convo.name}:</span> <span class="comment-body">#{convo.body}</span>
	if convo.children && convo.children[0]
		ul
			each child in convo.children
				+list(child)

block content
	div.header
		h1= title
		form(action="/", method="post")
			div.row.main-input
				div.col-lg-4.col-lg-offset-4
					input(type="text" name="reddit_url", class="form-control", placeholder="Reddit URL")
			div.row.main-input
				div.div.col-lg-4.col-lg-offset-4
					select(name="theme", class="select-theme form-control select-theme")
						option(value="Harry Potter") Harry Potter
						option(value="Big Bang Theory") Big Bang 
			div.row
				input(type="submit", class="btn btn-default main-input", value="Anonymize")
	
	div.comments-container
		if error
			div.error-container
				p=error
		if header
			div.thread-details-container
				h3= header.title
				h4 Subreddit: #{header.subreddit}
				div.row
					div.col-md-2
						a(href=header.url class="btn btn-success") Original Link
					div.col-md-10
						a(href=header.threadurl class="btn btn-primary") Original Thread

		if conversations
			each conversation in conversations
				+startList(conversation)

		if front_page_threads
			div.front-page-container
				each post in front_page_threads
					form(action="/", method="post")
						input(type="hidden" name="reddit_url", value="http://www.reddit.com#{post.url}")
						input(type="submit", class="btn btn-default", value=post.title)
