extends layout

mixin startList(convo)
	ul
		+list(convo)

mixin list(convo)
	li #{convo.user} | #{convo.name} | #{convo.body}
	if convo.children && convo.children[0]
			ul
				each child in convo.children
					+list(child)

block content
	h1= title
	p This is a #{title}
	form(action="/", method="post")
		label Reddit URL: 
		input(type="text" name="reddit_url")
		input(type="submit", value="Anonymize")
	
	if conversations
		each conversation in conversations
			+startList(conversation)
